<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>Ram_profile</title>
  <link rel="stylesheet" href="boram_interests.css">
  
</head>

<body>
  <img src="code.jpg" width="auto" height="400px">
    <ul>
        <li class="li1">programing</li>
        <li class="li2">html</li>
        <li class="li3">c</li>
        <li class="li4">python</li>
        <li class="li5">security</li>
        <li class="li1">hobby</li>
        <li class="li6">book</li>
        <li class="li7">interior</li>
    </ul>
</body>
</html>