<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>Kim Bo Ram</title>
  
  <link rel="stylesheet" href="boram.css">
  
</head>
<body>

  <div class="container">

    <header id="head">
        <h1>
            <a href="KimBoRam.html"></a>
        </h1>
    <nav>
        <ul>
            <li class="one"><a href="profile.html" target="intro">profile</a></li>
            <li class="two"><a href="interests.html" target="intro">Interests</a></li>
            <li class="three"><a href="photo.html" target="intro">photo</a></li>
        </ul>
    </nav>
    </header>

    <main id="main">
        <iframe src="profile.html" name="intro">
        </iframe>
    </main>

    <footer id="footer">
        
        <div class="copyright">
            <p>Copyright © 2020 KimBoRam. All rights reserved.</p>
        </div>

        <div class="address">
            <p>서울특별시 강북구 번동</p>
        </div>

    </footer>

  </div>
</body>
</html>
