<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>Ram_profile</title>
<style>
  img {
      width:150px;
      height: 150px;
  }
  div {
      text-align: center;
  }
  div.div {
    padding-top: 10px;
  }
  </style>
</style>
</head>

<body>
<div class="div">
  <div>
<img src="1.jpg">
<img src="2.jpg">
<img src="3.jpg">
</div>
<div>
<img src="4.jpg">
<img src="9.jpg">
<img src="8.jpg">
</div>
<div>
<img src="7.jpg">
<img src="6.jpg">
<img src="5.jpg">
</div>
</div>
</body>
</html>