<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>Ram_profile</title>
  
  <link rel="stylesheet" href="boram_profile.css">
  
</head>

<body>
    <img src="my_photo.jpg" width="auto" height="400px">
    <ul>
        <li class="li1">Kim Bo Ram</li>
        <li class="li1">2000.10.01</li>
        <li class="li1">AB</li>
        <li class="li1">21 years old</li>
        <li class="li1">Sungshin Women's University</li> 
        <li class="li1">Convergence Security Engineering</li>
        <li class="li2">rla001001@naver.com</li>
        <li class="li3">Instagram @ra_meee101</li>
    </ul>
</body>
</html>